.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px 0px 226px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/*banner style*/
.banner {
    display: flex;
}

.banner-hi {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
}

.banner-profile-img {
    width: 584px;
    height: 676px;
}