.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
}

.section-title {
    font: bold;
    font-size: 35px;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px 0px 226px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/*banner style*/
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 580px;
    margin-left: 230px;
    margin-right: 38px;
}

.banner-hi {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
}

.banner-profile-img {
    width: 584px;
    height: 676px;
}

/* main-style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About styles*/

.border-box {
    border: 1px solid #333333;
    background-color: #ffffff;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.section-description {
    font-size: 18px;
}

.about-items {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-top: 30px;
}

.item-title {
    color: #757575;
}

.item-description {
    font-weight: bold;
    font-size: 20px;
}